#folders
build/*
build_aarch64/*
build_amd64/*
aarch64_root/*
install/*
install_aarch64/*
install_amd64/*
log/*
devel/*
devel_aarch64/*
devel_amd64/*
CTRE
logs/*
build_isolated
devel_isolated
install_isolated
logs_isolated
build_native
devel_native
install_native
.rosinstall.bak
#.rosinstall
#.vscode
#.catkin_tools
callgrind.out.*
.catkin_tools/profiles/aarch64/packages/*
.catkin_tools/profiles/amd64/packages/*
.catkin_tools/profiles/default/packages/*
#workspace files
*.code-workspace